language: node_js
node_js:
  - "4.2"
sudo: false

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - ./node_modules/.bin/gulp eslint
  - ./node_modules/.bin/gulp unit

cache:
  directories:
    - node_modules

addons:
  sauce_connect: true