language: node_js
node_js:
  - "4.2"
sudo: false

script:
  - ./node_modules/.bin/gulp eslint
  - ./node_modules/.bin/gulp test

cache:
  directories:
    - node_modules

addons:
  sauce_connect: true

after_success:
  - git config --global user.email "$COMMIT_AUTHOR_EMAIL"
  - git config --global user.name "Travis CI"
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then ./node_modules/.bin/gulp deploy; fi