<div layout="row" layout-fill>
	<div flex="20" layout="column"  layout-align="center start">
			<div ng-repeat="(light_id, light) in lights" flex>
				<md-button ng-click="ToggleLight(light_id, light.state.on)">
					<md-icon ng-class="light.class" md-font-set="material-icons">power_settings_new</md-icon>
					{{light.name}}
				</md-button>
			</div>
	</div>
	<div layout="column" layout-align="center center" flex>
		<md-card class="md-padding">
			<md-card-content>
				<div layout="column" style="text-align:center">
				    <div class="md-display-4">{{clock | date:'shortTime'}}</div>
				    <div class="md-display-2">{{clock | date:'shortDate'}}</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>