<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
	<md-list>
		<md-list-item>
			<md-button ng-click="close()" href="#/clock">
				<md-icon class="md-accent" md-font-set="material-icons">access_time</md-icon>
				Clock
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="close()" href="#/lights">
				<md-icon class="md-accent" md-font-set="material-icons" >power_settings_new</md-icon>
				Lights
			</md-button>
		</md-list-item>
  	</md-list>
</md-sidenav>